# 日付だけのデータソース作成

Tableauでカレンダー形式のVizを作成する際、カレンダーが虫食い状態となる回避策に使用するデータソースを作成する。  
参照：[カレンダーの作成方法 \| tableau\_learning](https://arakaki-tokyo.github.io/tableau_learning/%E3%82%AB%E3%83%AC%E3%83%B3%E3%83%80%E3%83%BC%E3%81%AE%E4%BD%9C%E6%88%90%E6%96%B9%E6%B3%95/#%E3%82%AB%E3%83%AC%E3%83%B3%E3%83%80%E3%83%BC%E3%81%8C%E8%99%AB%E9%A3%9F%E3%81%84%E7%8A%B6%E6%85%8B%E3%81%A8%E3%81%AA%E3%82%8B%E5%9B%9E%E9%81%BF%E7%AD%96)

In [9]:
from datetime import date, timedelta
import pandas as pd

In [10]:
start = date(1900, 1, 1)
end = date(2100, 12, 31)

In [11]:
l = []
while start <= end:
    l.append(start)
    start += datetime.timedelta(days=1)

In [12]:
df = pd.DataFrame({"date":l})

作成したDFの確認

In [13]:
df

             date
0      1900-01-01
1      1900-01-02
2      1900-01-03
3      1900-01-04
4      1900-01-05
...           ...
73409  2100-12-27
73410  2100-12-28
73411  2100-12-29
73412  2100-12-30
73413  2100-12-31

[73414 rows x 1 columns]

DFをCSVとして出力

In [14]:
df.to_csv("date.csv", index=False)